.header {
    display: flex;
    justify-content: center;
    position: relative;
    height: 90vh;
    width: 100%;
    background: $clr-black;

    &__image {
        position: absolute;
        top: 0%;
        height: 100%;
        width: 100%;
        opacity: .5;

    }

    &__subtitle {
        position: absolute;
        top: 45%;
        font-size: 3rem;
        color: white;
        font-weight: 300;
        letter-spacing: 1rem;
        animation: moveInLeft 1s ease-out;
    }
}
