.cards {
    display: flex;
    width: 100%;
    height: 75rem;
    align-items: center;
    justify-content: space-around;
    
    &__card {
        position: relative;
        height: 40rem;
        width: 30rem;

        &__front {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 30rem;
            border-radius: $bd-radius;
            backface-visibility: hidden;
            box-shadow: 10px 10px 50px $clr-grey-dark;
            transition: transform 1s ease-out;
            
            &__img {
                height: 50px;
                width: 50px;
    
                &--mountains {
                    width: 85px;
                }
            }
    
            &__title {
                position: absolute;
                top: 25rem;
                color: $clr-primary;
                font-size: 2rem;
                font-weight: 700;
                
            }
        }   

        &__back {
            position: relative;
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
            border-radius: $bd-radius;
            background: $clr-primary;
            color: $clr-white;
            backface-visibility: hidden;
            transform: rotateY(180deg);
            transition: transform 1s ease-out;
            box-shadow: 10px 10px 50px $clr-grey-dark;

            &__title {
                font-size: 4rem;
                font-weight: 700;
                margin-top: .5rem;
                text-decoration: underline;
            }

            &__text {
                position: absolute;
                top: 7.5rem;
                left: 50%;
                transform: translateX(-50%);
                font-size: 2rem;
                width: 15ch;

            }

            &__img {
                position: absolute;
                top: 90%;
                left: 85%;
                height: 25px;
                width: 25px;

                &--mountains {
                    width: 40px;
                    left: 80%;
                }
            }
            
        }
        
        &:hover &__front{
            transform: rotateY(180deg);
        }

        &:hover &__back {
            transform: rotateY(0);
        }
    }
}